<div class="form-container">
  <!-- Título -->
  <div class="title-container">
    <h1>Cadastro de Fornecedor</h1>
  </div>

  <!-- Formulário -->
  <form class="form-cad-fornecedor" [formGroup]="formFornecedor" (ngSubmit)="onSubmit()" novalidate>
    <!-- IDENTIFICAÇÃO -->
    <div class="field-separator">Identificação</div>
    <div formGroupName="identificacao" class="form-row">
      <div class="field">
        <label for="codigo">Código Fornecedor</label>
        <input
          id="codigo"
          type="text"
          formControlName="codigo"
          placeholder="Código"
          aria-required="true"
        />
      </div>
      <div class="field">
        <label for="razaoSocial">Razão Social</label>
        <input
          id="razaoSocial"
          type="text"
          formControlName="razaoSocial"
          placeholder="Razão Social"
          aria-required="true"
        />
      </div>
      <div class="field">
        <label for="cnpj">CNPJ</label>
        <input
          id="cnpj"
          type="text"
          formControlName="cnpj"
          placeholder="CNPJ"
          aria-required="true"
        />
      </div>
      <div class="field">
        <label for="tipoFornecedor">Tipo de Fornecedor</label>
        <select id="tipoFornecedor" formControlName="tipoFornecedor">
          <option value="" disabled selected>Selecione</option>
          <option value="Produto">Produto</option>
          <option value="Serviço">Serviço</option>
          <option value="Ambos">Ambos</option>
        </select>
      </div>
    </div>

    <!-- CONTATOS -->
    <div class="field-separator">Contatos</div>
    <div formGroupName="contato" class="form-row">
      <div class="field">
        <label for="emailPrincipal">Email Principal</label>
        <input
          id="emailPrincipal"
          type="email"
          formControlName="emailPrincipal"
          placeholder="Email Principal"
        />
      </div>
      <div class="field">
        <label for="telefone">Telefone</label>
        <input id="telefone" type="tel" formControlName="telefone" placeholder="Telefone" />
      </div>
    </div>

    <!-- ENDEREÇO -->
    <div class="field-separator">Endereço</div>
    <div formGroupName="endereco" class="form-row">
      <div class="field">
        <label for="cep">CEP</label
        ><input id="cep" type="text" formControlName="cep" placeholder="CEP" />
      </div>
      <div class="field">
        <label for="logradouro">Logradouro</label
        ><input id="logradouro" type="text" formControlName="logradouro" placeholder="Logradouro" />
      </div>
      <div class="field">
        <label for="numero">Número</label
        ><input id="numero" type="text" formControlName="numero" placeholder="Número" />
      </div>
    </div>
    <div class="form-row">
      <div class="field">
        <label for="cidade">Cidade</label
        ><input id="cidade" type="text" formControlName="cidade" placeholder="Cidade" />
      </div>
      <div class="field">
        <label for="estado">Estado</label
        ><input id="estado" type="text" formControlName="estado" placeholder="Estado" />
      </div>
      <div class="field">
        <label for="pais">País</label
        ><input id="pais" type="text" formControlName="pais" placeholder="País" />
      </div>
    </div>

    <!-- BANCÁRIO -->
    <div class="field-separator">Pagamento</div>
    <div formGroupName="bancario" class="form-row">
      <div class="field">
        <label for="banco">Banco</label
        ><input id="banco" type="text" formControlName="banco" placeholder="Banco" />
      </div>
      <div class="field">
        <label for="agencia">Agência</label
        ><input id="agencia" type="text" formControlName="agencia" placeholder="Agência" />
      </div>
      <div class="field">
        <label for="conta">Conta</label
        ><input id="conta" type="text" formControlName="conta" placeholder="Conta" />
      </div>
    </div>
    <div class="form-row">
      <div class="field">
        <label for="tipoConta">Tipo de Conta</label>
        <select id="tipoConta" formControlName="tipoConta">
          <option value="Corrente">Corrente</option>
          <option value="Poupança">Poupança</option>
          <option value="Investimento">Investimento</option>
        </select>
      </div>
    </div>

    <!-- BOTÕES -->
    <div class="container-btn">
      <button type="submit" [disabled]="formFornecedor.invalid">Salvar</button>
      <button type="submit" [disabled]="formFornecedor.invalid">Enviar</button>
    </div>
  </form>
</div>
